@import 'fonts.css';
body {
    margin: 0 auto;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1920px;
}
a {
    color: inherit;
    text-decoration: none;
}
.header {
    display: flex;
    align-items: center;
}
.header-logo {
    width: 50%;
    font-size: 36px;
letter-spacing: -2px;
line-height: 36px;
font-family: "Times New Roman";
}
.header-menu {
    font-size: 16px;
line-height: 36px;
color: #676767;
font-weight: 300;
font-family: "Segoe WP N";
padding: 30px 20px;
margin-block-start: 0px;
margin-block-end: 0px;
}
.header-list {
display: inline-flex;
}
.header-menu :not(:first-child) {
    margin-left: 40px;
}
@media screen and (max-width: 992px) {
    .header-menu {
        margin-left: 0;
        font-size: 24px;
    }
    .header-logo {
        display: none;
    }
}
.banner {
    display: flex;
    justify-content: center;
width: 100%;
height: 350px;
    background-image: url('Canada_Parks_Lake_Mountains_Forests_Scenery_Rocky_567540_3840x2400-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-inner {
    flex-wrap: wrap;
    padding: 10px;
    width: 700px;
    text-transform: uppercase;
    text-align: center;
}

.banner-title {
    font-size: 38px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Segoe WP N";
}
.banner-btn {
    width: 274px;
height: 50x;
border-radius: 4px;
background-image: linear-gradient(0deg, #34ad22 0%, #6ed158 100%);
border: 6px solid rgba(0,0,0,0.12);
font-size: 34px;
color: #ffffff;
font-weight: bold;
font-family: "Segoe WP";
text-align: center;
filter: drop-shadow(0.5px 0.866px 0px rgba(0,0,0,0.2));
}

.svg-icon {
    width: 90px;
    height: 90px;
}
.content {
    display: flex;
}
.column {
font-size: 20px;
line-height: 34px;
color: #7e7c7c;
font-weight: 300;
font-family: "Segoe WP";
}
.content-item {
    padding: 20px;   
}
.content-item__text {
    margin-block-start: 0px;
    text-align: center;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: gray;
    width: 100%;
}
.footer-text {
    font-size: 14px;
color: #ffffff;
font-weight: 300;
font-family: "Segoe WP";
text-align: center;
}
.contact-menu {
    width: 800px;
    height: 640px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    margin: auto;
    margin-top: -120px;
    border: 2px solid rgb(104, 102, 102);
}
.banner-wrapper {
    padding: 0px;
}
.consultation__form {
    display: flex;
    align-items: center;
    width: 100%;
}
.consultation__form-btn {
    height: 45px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: 30px;
    color: #ffffff;
    background-color: #32a836;
    border-radius: 5px;
    border: 0px;
}
.consultation__form-title {
    margin-left: 30px;
    color:#1f3969;
}
.preview {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
.preview-text {
    width: 30%;
    margin-block-start: 0px;
    text-align: center;
    padding: 15px;
    border-top-right-radius: -10px;
border-top-left-radius: -10px;
border-bottom-right-radius: 40px;
border-bottom-left-radius: 40px;
background-color: #4a5770;
color: #ffffff;
}
.line {
    width: 35%;
    background-color:#4a5770;
    height: 10px;
}

.form-wrapper {
    padding: 40px;
}
.form {
    display: flex;
    padding: 30px 0;
    border-top: 1px solid gray;
}
.form-text-block {
    width: 20%;
}
.form-inputs-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}
.form p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.form-row {
    display: flex;
    padding: 0 20px;
}
.form-lists {
    list-style-type: none;
    padding-inline-start: 0px;
    height: 100%;
    margin: 0;
}
.form-list {
    margin-bottom: 70px;
}
.form-list-name:after {
    content:'*';
    color: #e81336;
    margin-left: 10px;
}
.form-list-email:after {
    content:'*';
    color: #e81336;
    margin-left: 10px;
}
.input__email {
    width: 70%;
    height: 30px;
    margin: 30px 0;
}
.input__name {
    height: 25px;
}
.input__area-code {
    width: 60px;
    height: 25px;
    margin-top: 15px;
}
.area-code-inner {
    position: relative;
    margin-right: 40px;
}
.area-code-inner:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 115%;
}
.input__number {
    height: 25px;
    margin-top: 15px;
}
.input__consultation-text {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
.input__comments {
    width: 100%;
    height: 100px;
    margin-top: 30px;
}
.content-wrapper {
    padding: 10px 40px;
    padding-bottom: 0px;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 992px) {
    .content {
        display: block;
    }
    .contact-menu {
        width: 100%;
        margin-top: 0px;
        height: auto;
    }
    .column {
        display: flex;
        flex-direction: row;
    }
    .content-wrapper {
        padding: 0px;
    }
    .content-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-row {
        justify-content: space-between;
        margin-bottom: 45px;
    }
    .input__email {
        width: 100%;
        border: 1px solid black;
    }
    .name-inner {
        width: 50%;
    }
    .input__name {
        width: 100%;
        border: 1px solid black;
    }
    .area-code-inner {
        width: 40%;     
    }
    .number-inner {
        width: 40%;
    }
    .input__number {
        width: 100%;
        border: 1px solid black;
    }
    .input__area-code {
        width: 100%;
        border: 1px solid black;
    }
    .input__consultation-text {
        width: 100%;
        border: 1px solid black;
    }
    .input__comments {
        width: 100%;
        border: 1px solid black;
    }
    .form-wrapper {
        padding: 30px;
    }
    .column {
        display: flex;
        justify-content: space-between;
    }
    .form-lists {
        font-size: 30px;
    }
    .form-list {
        margin-bottom: 70px;
        margin-top: 20px;
    }
    .form-inputs-block> :nth-child(-n+5) {
        display: block;
    }
    .form-inputs-block> :nth-child(-n+2) {
        margin-bottom: 0px;
    }
    .area-code-inner:after {
        display: none;
    }
    .banner {
        height: 400px;
    }
    .banner-inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-title {
        font-size: 35px;
    }
    .banner-btn {
        margin: auto;
        margin-top: 30px;
    }
}
